########## Intellij #########

*.iml
.idea/
out/

########## Eclipse ##########

.classpath
.settings/
.project
classes/
libs/
bin/
project.properties

########### Maven ###########

target/
tmp/

########### Android ###########

.gradle/
build/

########### Android ###########

gen/
lint.xml
